/* ==========================================
   RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--black);

    color:var(--white);

    font-family:var(--body);

    overflow-x:hidden;

    line-height:1.6;

}

/* ==========================================
   IMAGES
========================================== */

img{

    max-width:100%;

    display:block;

}

/* ==========================================
   LINKS
========================================== */

a{

    color:inherit;

    text-decoration:none;

}

/* ==========================================
   CONTAINER
========================================== */

.container{

    width:min(92%,var(--container));

    margin:auto;

}

/* ==========================================
   SECTIONS
========================================== */

section{

    position:relative;

}

/* ==========================================
   TYPOGRAPHY
========================================== */

h1,h2,h3,h4{

    font-family:var(--heading);

    line-height:1.1;

}

p{

    color:var(--text-light);

}

/* ==========================================
   BUTTONS
========================================== */

.primary-btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:18px 34px;

    background:var(--lime);

    color:black;

    border-radius:999px;

    font-weight:700;

    transition:var(--transition);

}

.primary-btn:hover{

    transform:translateY(-3px);

}

.secondary-btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:18px 34px;

    border-radius:999px;

    border:1px solid rgba(255,255,255,.20);

    transition:var(--transition);

}

.secondary-btn:hover{

    background:white;

    color:black;

}