/* ==========================================
   GADAL RESTORES DESIGN SYSTEM
========================================== */

:root{

    /* Brand Colors */

    --lime:#9DFF00;
    --red:#FF3131;

    --black:#050505;
    --black-light:#111111;
    --black-card:#171717;

    --white:#FFFFFF;

    --text:#ECECEC;
    --text-light:#B7B7B7;

    --border:rgba(255,255,255,.08);

    /* Layout */

    --container:1280px;

    --radius:18px;

    --transition:.30s ease;

    /* Typography */

    --heading:'Sora',sans-serif;

    --body:'Inter',sans-serif;

}